<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stockfish UCI</title>
  <link rel="icon" type="image/svg+xml" href="/public/stockfish.svg">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body { padding-top: 50px; }
  </style>
</head>
<body>

  <div class="container">
    <h2>Wasm Stockfish Compilation Tests</h2>

    <div class="jumbotron">
      <h3>Enter your UCI command here</h3>
      <form id="form" method="POST">
        <label for="command">UCI command:</label>
        <input type="text" id="command" name="command" placeholder="ex: UCI" required>
        <input type="hidden" id="response" name="response">  
      </form>
    </div>

    <div class="jumbotron">
      <h3>Response</h3>
      <div id="output"><%= salida %></div>
    </div>
  </div>

  <script src="/script.js"></script>
  <script src="/sf17-emb.js" type="module"></script>
</body>
</html>